# This is your bot's configuration file, control your bot's environment here. Every value must contain a string ("")

#==============================================================================
# OPTIONAL = This value is optional, and can be left blank.
# IMPORTANT = It is recommended that you pay attention to the value.
# MULTIPLE - This value can be multiple strings, each value split with a comma or semi-colon. You can use single-quote (') to escape whether you have any comma or semicolon in the value.

#==============================================================================
# IMPORTANT - What is your Discord bot's token?
# Example: DISCORD_TOKEN="Your.Discord.Bot.Token"
DISCORD_TOKEN=""

#==============================================================================
# OPTIONAL - Bot command prefix
# Example: PREFIX="!"
# Default: !
PREFIX=""

#==============================================================================
# OPTIONAL, MULTIPLE - Developer user IDs, comma-separated
# Example: DEVS="319872685897416725, 397322976552550400"
DEVS=""

#==============================================================================
# OPTIONAL, MULTIPLE - Guild IDs for dev-only slash commands, comma-separated
# Example: DEV_GUILD="123456789012345678"
DEV_GUILD=""

#==============================================================================
# OPTIONAL - Do you want to enable slash command support?
# Example: ENABLE_SLASH_COMMAND="yes"
# Default: yes
ENABLE_SLASH_COMMAND=""

#==============================================================================
# OPTIONAL - Enable sharding for 2500+ guilds
# Example: ENABLE_SHARDING="yes"
# Default: yes
ENABLE_SHARDING=""

#==============================================================================
# OPTIONAL - Embed color hex without #
# Example: EMBED_COLOR="3FC4FF"
# Default: 3FC4FF
EMBED_COLOR=""

#==============================================================================
# In which mode do you want to activate your bot?
# Example: NODE_ENV="production"
# Available: production, development
# Default: production
NODE_ENV=""
